altgraph==0.17.4
auto-py-to-exe==2.45.1
beautifulsoup4==4.12.3
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coverage==7.6.11
distlib==0.3.9
Eel==0.18.1
Faker==35.0.0
filelock==3.17.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pefile==2023.2.7
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
pyparsing==3.2.1
PySide6==6.8.2
PySide6_Addons==6.8.2
PySide6_Essentials==6.8.2
pytest==8.3.4
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
requests==2.32.3
rich==13.9.4
setuptools==75.8.0
shellingham==1.5.4
shiboken6==6.8.2
six==1.17.0
soupsieve==2.6
tinydb==4.8.2
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.3.0
zope.event==5.0
zope.interface==7.2
